@import "./bower_components/neat/core/_neat";
$base-color: #000;
$font-light: white;
body.EasyCheckoutStep {
  .wd-easy-checkout {
    .header {
      .logo {
        background-image: url(/custom/content/themes/Shared/Assets/johnjohn/Images/johnjohn.png) !important;
        background-size: contain;
        height: 32px;
        background-position: left center;
      }
    }
    .btn-outline {
      color: $base-color;
      .badge {
        background-color: $base-color;
      }
    }
  }
  button:not(.btn-outline),
  a.btn:not(.btn-outline) {
    background-color: $base-color !important;
    background-image: linear-gradient($base-color, shade($base-color, 30%));
    color: $font-light;
  }
  .btn-show-basket,
  a,
  #summary .safe-message {
    color: $base-color;
  }
  #ezcommerce {
    background-image: url("/Custom/Content/Themes/Estoque/Imagens/core.png");
    width: 124px;
    height: 31px;
  }
}
