body {
    background-color: white;
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    #logo {
        padding: 0;
        a {
            background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/dudalina.png);
            background-repeat: no-repeat;
            height: 45px;
            font-size: 0;
            margin: 0 auto;
            width: 238px;
            @media screen and(max-width: 320px) {
                background-size: contain;
                margin-left: -8px;
                width: 100%;
                height: 27px;
            }
            @media screen and(min-width: 321px) and (max-width: 375px) {
                background-size: contain;
                margin-left: 0;
                width: 100%;
                height: 27px;
            }
            @media screen and(min-width: 376px) and (max-width: 425px) {
                background-size: contain;
                margin-left: 10px;
                width: 100%;
                height: 27px;
            }
            @media screen and(min-width: 426px) and (max-width: 768px) {
                margin-left: 45px;
                width: 55%;
                height: 40px;
                position: relative;
                top: -9px;
            }
        }
    }
    .no-padding {
        * {
            padding: 0 !important;
        }
    }
}