header {
    .icons-left {
        .hamburguer {
            filter: invert(100%);
        }
    }
    .main-bar {
        background-color: black;
        @media screen and(max-width: 768px) {
            padding: 15px 15px;
            border-bottom: 0;
            #top-search {
                order: 12;
            }
        }
        @media screen and(min-width: 726px) and (max-width: 1024px) {
            border-bottom: 0;
        }
        padding: 40px 50px 25px 50px;
        #top-search {
            .wd-search {
                height: 25px;
                form {
                    position: relative;
                    input {
                        width: auto;
                        position: absolute;
                        height: 30px;
                        left: 30px;
                        top: -8px;
                        outline: none;
                        border: 0;
                        border-bottom: 1px solid #ffffff;
                        background-color: transparent;
                        color: white;
                        @media screen and(max-width: 320px) {
                            width: 90% !important;
                            padding-left: 0;
                        }
                        @media screen and(min-width: 321px) and (max-width: 425px) {
                            width: 92% !important;
                            padding-left: 0;
                        }
                        @media screen and(min-width:426px) and (max-width: 768px) {
                            padding-left: 0;
                        }
                    }
                    button {
                        left: 0;
                        top: 0px;
                        background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/search.png);
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        width: 21px;
                        height: 21px;
                    }
                    ::placeholder {
                        color: white;
                        opacity: 1;
                    }
                    :-ms-input-placeholder {
                        color: white;
                    }
                    ::-ms-input-placeholder {
                        color: white;
                    }
                }
            }
        }
        .icons-resume {
            @media screen and(max-width: 425px) {
                top: 18px;
                .dropdown-cart {
                    padding-left: 10px;
                    i {
                        &.icon {
                            height: 60px !important;
                        }
                    }
                }
            }
            .dropdown-user {
                i {
                    &.icon {
                        position: relative;
                        bottom: 1px;
                        background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/user.png);
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        width: 22px;
                        display: block;
                        height: 25px;
                    }
                }
                .wd-profile-welcome-shopper {
                    .widget-content {
                        position: absolute;
                        top: 20px;
                        left: -91px;
                        border: 0;
                    }
                }
            }
            .dropdown-location {
                i {
                    &.icon {
                        background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/maps.png);
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        width: 24px;
                        display: block;
                        height: 23px;
                    }
                }
            }
            .main-wishlist {
                i {
                    &.icon {
                        position: relative;
                        bottom: 2px;
                        background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/wishlist.png);
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        width: 24px;
                        display: block;
                        height: 23px;
                    }
                }
            }
            .dropdown-cart {
                i {
                    &.icon {
                        background-image: url(/custom/content/themes/Shared/Assets/dudalina/Images/bag.png);
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        width: 19px;
                        display: block;
                        height: 23px;
                    }
                }
                span {
                    &.basket-size-wrapper {
                        border: 2px solid white;
                        line-height: 12px;
                    }
                }
                .wd-checkout-basket-summaryheader {
                    a {
                        span {
                            &.title {
                                display: none;
                            }
                            &.arrow {
                                display: none;
                            }
                        }
                    }
                    .summaryheader-content {
                        position: absolute;
                        right: -50px !important;
                        top: 44px !important;
                        left: unset;
                        border: 0;
                    }
                }
            }
        }
    }
    .category-bar {
        min-height: 40px;
        .main-category {
            .wd-category-menu {
                ul {
                    &.section {
                        li {
                            height: 40px;
                            h3 {
                                height: 40px;
                                a {
                                    cursor: pointer;
                                    line-height: 25px;
                                    &:hover {
                                        text-decoration: none;
                                        box-shadow: inset 0px -3px 0 0px white;
                                    }
                                }
                                i {
                                    display: none;
                                }
                            }
                            .submenu {
                                ul {
                                    .sub-section {
                                        li {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .promo-condicoes {
        height: 50px;
        background-color: #44bdd7;
        display: flex;
        align-items: center;
        justify-content: center;
        .parcelamento,
        .desconto {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25px;
            border-right: 1px solid black;
        }
        .magic {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25px;
        }
    }
}