#content {
    #content-wrapper {
        .sobre-johnjohn {
            p {
                padding: 0 140px;
                padding-top: 50px;
                padding-bottom: 70px;
                text-align: center;
                font-size: 11px;
            }
        }
        .breadcrumb {
            border: 0;
            .wd-browsing-breadcrumbs {
                display: flex;
                justify-content: center;
                align-items: center;
                ul {
                    li {
                        a,
                        strong {
                            color: black;
                        }
                        &::after {
                            color: black;
                        }
                    }
                }
            }
        }
        .wrapper {
            .dupla-banners,
            .triplo-banners {
                display: flex;
                @media screen and(max-width: 425px) {
                    flex-direction: column;
                }
            }
            .new-arrivals,
            .trending-now {
                margin-top: 50px;
                .wd-browsing-product-carousel {
                    .wd-header {}
                    .wd-content {
                        ul {
                            li {
                                width: 236px;
                            }
                        }
                        a {
                            &.jcarousel-control-prev {
                                position: absolute;
                                top: -64px;
                                left: 93.5%;
                            }
                            &.jcarousel-control-next {
                                position: absolute;
                                top: -64px;
                                left: 97.3%;
                            }
                            svg {
                                width: 13px;
                            }
                        }
                    }
                    .wd-footer {
                        margin-bottom: 50px;
                    }
                }
            }
            .blog-video {
                display: flex;
            }
        }
    }
}

.HomeRoute .vitrine:not(.banner),
[class*="context-brand"] .vitrine:not(.banner),
[class*="context-category"] .vitrine:not(.banner) {
    border-top: 0;
    border-bottom: 0;
}