body {
  &.LoginRoute {
    #content {
      .painel-box {
        .painel-wrapper {
          padding: 30px 0;
          border: 1px solid black;
          color: black;
          margin-bottom: 50px;
          @media screen and (max-width: 768px) {
            margin-bottom: 0;
          }
          h2,
          small {
            padding: 0 0 10px 30px;
          }
          p {
            padding: 20px 30px;
          }
          .wd-profile-login {
            border-bottom: 1px solid black;
            padding: 0 30px;
          }
          .wd-profile-login-oauth {
            padding: 0 30px;
          }
          .wd-profile-preregister {
            .wd-content {
              form {
                padding: 0 30px;
              }
            }
          }
          input {
            border: 1px solid black;
            outline: none;
          }
          ::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: black;
            opacity: 1;
            /* Firefox */
          }
          :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: black;
          }
          ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: black;
          }
        }
      }
      .painel-jasoucliente {
        @media screen and(max-width: 786px) {
          padding-right: 0;
          padding-left: 0;
        }
      }
      .painel-criarconta {
        .wd-profile-login-oauth {
          border-bottom: 1px solid black;
        }
        form {
          .input-wrapper {
            &.hide {
              display: block;
            }
          }
        }
      }
    }
  }
}

body {
  &.BasketIndexRoute {
    .carrinho-flutuante {
      .wd-checkout-basket-buttons {
        button {
          background-color: black;
          color: white;
        }
      }
    }
    .wd-checkout-basket {
      .detalhes {
        border: 0 !important;
        .grid,
        .gift,
        .termos,
        .discount,
        .shipping {
          border: 1px solid black;
          .grid {
            border: 0;
          }
        }
        ul {
          &.grid-informations {
            li {
              &.bottom-grid {
                .subtotal {
                  color: black;
                }
              }
              &.nested-grid {
                border-bottom: 0 !important;
              }
              &.item {
                border-bottom: 0;
                ul {
                  li {
                    &.quantity {
                      .change {
                        button {
                          border: 1px solid black;
                          background-color: white;
                        }
                        input {
                          ::placeholder {
                            /* Chrome, Firefox, Opera, Safari 10.1+ */
                            color: black;
                            opacity: 1;
                            /* Firefox */
                          }
                          :-ms-input-placeholder {
                            /* Internet Explorer 10-11 */
                            color: black;
                          }
                          ::-ms-input-placeholder {
                            /* Microsoft Edge */
                            color: black;
                          }
                          &.js-qty {
                            border: 0;
                            border-top: 1px solid black;
                            border-bottom: 1px solid black;
                            outline: none;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        border: 1px solid black;
        input {
          border: 1px solid black;
          outline: none;
        }
        ::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: black;
          opacity: 1;
          /* Firefox */
        }
        :-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: black;
        }
        ::-ms-input-placeholder {
          /* Microsoft Edge */
          color: black;
        }
        button {
          background-color: black;
          color: white;
          &.btn-remove {
            background-color: transparent;
            color: black;
          }
        }
      }
      .resumo {
        .total {
          border: 1px solid black;
          .total {
            border: 0;
            strong {
              border-top: 1px dashed black;
              color: black;
            }
            .button-finish {
              .bt-checkout {
                background-color: black;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}

body {
  &.AccountRegisterRoute,
  .AccountOrderRoute,
  .AccountRoute,
  .AccountAddressRoute,
  .AccountGiftCertificateRoute {
    background-color: white !important;
    #content {
      .wd-profile-panelmenu.wd-widget {
        border: 1px solid black;
        nav > ul > li:nth-child(4) {
          padding-left: 17px;
        }
        nav {
          padding-top: 20px;
          &::before {
            display: none;
          }
        }
      }
      margin-bottom: 20px;
      .boasVindas {
        border: 1px solid black;
        margin-top: 15px;
      }
      .painel-carrinho-resumo {
        border: 1px solid black;
      }
      .wd-profile-register.wd-widget {
        border: 1px solid black;
        margin-bottom: 20px;
        input,
        select {
          border: 1px solid black;
          outline: none;
        }
      }
    }
  }
}
